@font-face {
	font-family: "Poiret One";
	src: url("files/fonts/PoiretOne-Regular.ttf");
}
@font-face {
	font-family: "Assistant";
	src: url("files/fonts/Assistant-Regular.ttf");
}
@font-face {
	font-family: "Assistant Light";
	src: url("files/fonts/Assistant-Light.ttf");
}
@font-face {
	font-family: "Assistant Semi-Bold";
	src: url("files/fonts/Assistant-SemiBold.ttf");
}
@font-face {
	font-family: "Assistant Bold";
	src: url("files/fonts/Assistant-Bold.ttf");
}
:root {
	--cBlack: #000000;
	--cWhite: #ffffff;
	--cBeige1: #6c665e;
	--cBeige2: #cec7be;
	--cBeige3: #f7f4e3;
	--cBrown1: #050505;
	--cBrown2: #070706;
	--cBrown3: #2f2b25;
}
[class*="image-preview-container-"] {
	position:absolute;
	padding: 0;
	left: 0vw;
	top: 0vh;
	right: 0vw;
	bottom: 0vh;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	flex-wrap: nowrap;

	background-color: var(--cBlack);
}
.image-preview-container-shown {
	background: rgba(0, 0, 0, 0.4);
	transition: background 2s, height 2s;
}
.image-preview-container-hidden {
	top: 50%;
	bottom: 50%;
	left: 50%;
	right: 50%;
	background: rgba(0, 0, 0, 0);
	transition: background 2s, height 2s;
}
.image-preview-shown{
	position:relative;
	width: 84%;
	height: auto;
	margin: 5%;
	object-fit:fill;
}
.image-preview-hidden{
	display:relative;
	width: 0%;
	height:0%;
	margin: 0%;
	background-color: transparent;
	object-fit:fill;
}
.image-preview-cancel-shown {
	position:absolute;
	right: 2vw;
	top: 2vh;
	left:90%;
	bottom:90%;
	width: 8%;
	height: auto;
	opacity: 80%;
	transition: width 0.2s, height 0.2s, top 0.2s, left 0.2s, right 0.2s, bottom 0.2s, transform 0.5s, opacity 0.6s;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.image-preview-cancel-shown:hover {
	opacity: 100%;
	transform:rotate(90deg) scale(1.4,1.4);
	transition: transform 0.5s, opacity 0.6s;
}
.image-preview-cancel-shown:active {
	opacity: 50%;
	transform:rotate(270deg) scale(0.7,0.7);
	transition: transform 0.5s, opacity 0.6s;
}
.image-preview-cancel-hidden {
	position: absolute;
	top: 50%;
	bottom: 50%;
	left: 50%;
	right: 50%;
	opacity: 0%;
	left: 50%;right:50%;top:50%;bottom:50%;
	width: 0%;
	height: 0%;
}
.previewed-image-shown {
	position: relative;
	min-width: 100%;
	max-width: 100%;
	max-height: 100%;
	opacity: 100%;
	margin-left: auto;
	margin-right: auto;
	transition: width .5s, height .5s;
}
.previewed-image-hidden {
	opacity: 0%;
	position: relative;
	height:0%;
	width:auto;
	transition: width .5s, height .5s;
}
/*TOPBAR*/
.topbar {
	background-color: var(--cBlack);
	color: var(--cBlack);
	position: fixed;
	top:0vh;
	left: 0vw;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: flex-start;
	text-align: center;
	height: auto;
	max-height: max-content;
	min-height: min-content;
	opacity: 1;
	transition: height .16s, opacity .4s;
}
.topbar-hidden {
	max-height: 0px;
	opacity: 0;
	transition: height .16s, opacity .4s;
}
.tbhead {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 1vw;
	margin-right: 1vw;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	margin-block-end: 2em;
	min-height: min-content;
	max-height: max-content;
}
.tbhead h1 {
	font: 7vmin 'Poiret One';
	color: var(--cBeige3);
	margin-block-start: 0px;
	margin-block-end: 0px;
}
.tbhead h2 {
	font: 4vmin 'Poiret One';
	color: var(--cBeige2);
	margin-block-start: 0px;
	margin-block-end: 0px;
}
.tbbuttons {
	list-style-type: none;
	position: relative;
	max-height: 6vh;
	min-height: min-content;
	background-color:var(--cBeige2);
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
}
.tbbuttons span {
	width: 100%;
}
.tbbutton, .tbclicked {
	position:relative;
	left:0vw;
	background-color:var(--cBeige1);
	display: block;
	padding-left: 0%;
	border-left: 0.2vw;
	border-right: 0.2vw;
	border-top: 0.2vw;
	border-bottom: 0.2vw;
	border-style: solid;
	border-bottom-color:var(--cBeige2);
	border-top-color: var(--cBlack);
	border-left-color: var(--cBeige2);
	border-right-color: var(--cBeige2);
	text-align: center-left;
	font: 5.5vmin 'Poiret One';
	color: var(--cBlack);
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.tbbutton:hover {
	background-color: var(--cBeige2);
	color: var(--cBrown3);
}
.tbclicked {
	background-color: var(--cBrown2);
	color: var(--cBeige3);
	border-bottom-color:var(--cBrown2);
	border-top-color: var(--cBeige2);
	border-left-color: var(--cBeige2);
	border-right-color: var(--cBeige2);
	top: 0.9%;
}
/*SIDEBAR */
.sidebar {
	background-color: var(--cBlack);
	color: var(--cBlack);
	position:fixed;
	left: 0vw;
	top: 0vh;
	width: 18%;
	/*min-width: min-content;*/
	height : 100vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	border: 0.18vw;
	border-top: 0vw;
	border-bottom: 0vw;
	border-left: 0vw;
	border-style: solid;
	border-color:var(--cBeige2);
	text-align: left;
	transition: width .16s, opacity .4s;
}
.sidebar-hidden {
	width: 0px;
	opacity: 0;
	transition: width .16s, opacity .4s;
}
.sbhead {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	left:0vw;
	text-align: left;
	width: auto;
	margin-bottom: 10vh;
}
.sbhead h1 {

	font: 6vmin 'Poiret One';
	color: var(--cBeige3);
	position: relative;
	margin-left: 1vw;
	margin-block-start: 0px;
	margin-block-end: 0px;
}
.sbhead h2 {
	display: inline;
	font: 3.5vmin 'Poiret One';
	color: var(--cBeige2);
	position: relative;
	margin-left: 1vw;
	margin-block-start: 0px;
	margin-block-end: 0px;
}
.sbbuttons {
	list-style-type: none;
	position: relative;
	background-color:var(--cBeige2);
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
}
.sbbutton, .sbclicked {
	position:relative;
	left:0vw;
	top: .2vw;
	background-color:var(--cBeige1);
	display: block;
	padding-left: 0%;
	min-height: fit-content;
	max-height: 15vh;
	width: 100%;
	border-left: 0vw;
	border-right: 0vw;
	border-top: 0vw;
	border-bottom: 0.2vw;
	border-style: solid;
	border-color:var(--cBeige2);
	text-align: center-left;
	text-indent:1vw;
	font: 5vmin 'Poiret One';
	color: var(--cBrown1);
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.radd {
	opacity: 0;
	cursor: pointer;
	height: 10px;
	width: 10px;
}
.sbbutton:hover {
	background-color: var(--cBeige2);
	color: var(--cBrown3);
}
.sbclicked {
	background-color: var(--cBrown2);
	color: var(--cBeige3);
	border-right-color: var(--cBrown2);
	width: 101%;
	text-indent: 3vw;
}
.radd input:checked {
	background-color: var(--cBrown2);
	color: var(--cWhite);
}
.radd:after {
	content: "";
	position: relative;
	display: none;
}
body {
	background-color: var(--cBrown2);
	font: 1em 'Assistant';
	color: var(--cBrown2);
	top: 0vh;
	left: 0vw;
	margin: 0;
	overflow-y: hidden;
	overflow-x: hidden;
}
.full-page {
	position: fixed;
	top: 0vh;
	left: 0vw;
	width: 100%;
	height: 100%;
}
[class*="content-iframe-"] {
	background-color: transparent;
	position:relative;
	padding: 0;
	left: 0vw;
	top: 0vh;
	margin-bottom: 5vh;
	overflow-x: hidden;
	width:76%;
	height: 90vh;
}
.content-iframe-landscape	{
	margin-left: 22%;
	margin-top: 5vh;
	margin-right: 5vw;
	transition: 0.8s width, 0.8s height, 0.8s margin-top, 0.8s margin-left, 0.8s margin-right;
}
.content-iframe-portrait {
	width: 90%;
	margin-left: 5vw;
	margin-top: 22%;
	margin-right: 5vw;
	transition: 0.8s width, 0.8s height, 0.8s margin-top, 0.8s margin-left, 0.8s margin-right;
}
/* IFRAME EMBEDDED PAGES */
.page-content {
	border-radius: 5vw;
	background-color: var(--cBrown3);
	position:absolute;
	margin: 4% 4% 4% 4%;
	padding: 0;
	width: 92%;
	height : 92%;
	overflow-y: scroll;
	top: 0vh;
	bottom: 0vh;
	left: 0vw;
	right: 0vw;
	-ms-overflow-style: none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.page-content::-webkit-scrollbar {
	display: none;
}

.works-header
{
	font: 3em 'Poiret One';
	text-align:center;
	color:var(--cBeige3);
	position: relative;
	width: 100%;
}
.works-header img
{
	position: absolute;
	left:0%;
	width:100%;
	top: 95%;
}
.works-content {
	text-align: left;
	color: var(--cBeige3);
	position: relative;
	width: 100%;
	height: auto;
	top: 0%;

	display:flex;
	flex-direction: column;
	flex: 1 1 auto;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.works-content-iFrame-wrapper
{position: relative;}
.works-content-iFrame
{
	position: relative;
	border: none;
	width: 1px;
	min-width: 100%;
	/*min-height: 13vh;*/
	padding: 0 0;
	margin: 0%;
	display:flex;
	flex-direction: column;
	flex: 1 1 auto;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-self: flex-start;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion
{
	background-position-x: center;
	background-position-y: top;
	background-size: 0%;
	background-repeat: no-repeat;
    background-color: var(--cBrown2);
    font: 2.25em 'Poiret One';
	color:var(--cBeige3);
    cursor: pointer;
    padding: 16px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.4s, background-position-y 0.4s, padding 0.6s, max-height 0.4s, height 0.4s;
	height: 128px;
	min-height: 13vh;
	max-height: 20vh;

	display:flex;
	justify-content: space-between;
	align-content:space-between;
	flex-direction: row;
	align-items: center;
}
.b_flex
{
	text-shadow: 0vmax .4vmax .4vmax var(--cBlack),0vmax .4vmax .6vmax var(--cBlack);
	width:90%;
	height:100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: center;
}
.w_title
{
	max-width: 100%;
	overflow-x:visible;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover
{
	padding: 32px;
	padding-right: 16px;
    background-color: var(--cBeige3);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position-x: center;
	background-position-y: center;
	height: 160px;
	min-height: 13vh;
	max-height: 24vh;
}

.accordion p:after {
	position:relative;
	content: '\2B9F';
	text-shadow: 0vmax .2vmax .2vmax var(--cBlack);
	font-size: 3vmax;
	color: var(--cBeige3);
	float: right;
	margin-left: 1vw;
	/*bottom:8vh;*/
	transition: 0.2s ease-out;
}
.active p:after {
	transform:rotate(180deg);
	text-shadow: 0vmax -.2vmax .2vmax var(--cBlack);
	transition: 0.2s ease-out;
}
.panel {
    /*padding-right: 2%;*/
	width: 100%;
    background-color: var(--cBrown3);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out, padding 0.4s ease-out;
}
.w_main {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: flex-start;
	align-items: stretch;
	width: 100%;
}
.w_video_parent {
	display: block;
	height: 400px;
}
.w_video {
	background-color: var(--cBrown2);
	position: relative;
	width:100%;
	height: 100%;
	margin-bottom: 56.25%;
}
.w_video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}
.w_info {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	margin: 16px 16px;
	width: calc(100%-16px);
}
.w_description {
	width: 70%;
	background-color: var(--cBrown1);
	color: var(--cBeige3);
	margin-right: 8px;
}



.w_description p {
	max-width: 75ch;
	margin-left: auto;
    margin-right: auto;
	text-indent: 10%;
	padding: 16px;
}
.w_attributes {
	width: 30%;
	background-color: var(--cBrown1);
	color: var(--cBeige3);
	margin-left: 8px;
}
.p_details {
	padding: 12px;
	width: calc(100%-12px);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-content: flex-start;
}
.p_detail {
	width: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	align-items:baseline;
	color: var(--cWhite);
}
.p_detail h1 {
	display:inline-flex;
	margin-right: 4px;
	font-family: "Assistant Bold";
	font-size: 1em;
	color: var(--cWhite);
	text-align:left;
	float: inline-start;
	
}
.p_detail h2 {
	display: inline-flex;
	margin-left: 4px;
	font-family: "Assistant";
	font-size: .7em;
	color: var(--cWhite);
	text-align:right;
	float: right;
}
.p_detail button {
	border:0;
	font: 'Poiret One';
	font-size:auto;
	text-align: center;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.p_detail button:hover {
	background-color:var(--cBeige1);
	color: var(--cBrown3);
}
.p_detail button:clicked {
	background-color: var(--cBrown2);
	color: var(--cBeige3);
}
.w_marquee {
	width: 40%;
	margin: 0 0 32px 0;
	padding-left: 30%;
	padding-right: 30%;
	background-color: var(--cBrown2);
	display: flex;
	justify-content: flex-start;
	flex-wrap: nowrap;
	overflow-x: hidden;
	scroll-behavior: smooth;
	
}
/* Hide scrollbar for Chrome, Safari and Opera */
.w_marquee::-webkit-scrollbar {
	display: none;
}
.w_marquee div {
	max-width:400px;
	max-height: 200px;
	margin: 5% 10px 5% 10px;
	/*
	padding: 5% 10px 5% 10px;
	*/
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
[class*="w_marqueeimg_"]{
	height: 100%;
	transition: transform .2s, opacity .2s;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.w_marqueeimg_idle {
	transform: scale(0.9,0.9);
	opacity: 50%;
}
.w_marqueeimg_idle:hover {
	transform: scale(1,1);
	opacity: 70%;
}
.w_marqueeimg_sel {
	transform: scale(1.1,1.1);
	opacity: 100%;
}
.w_marqueeimg_sel:hover {
	transform: scale(1.2,1.2);
	opacity: 100%;
}
.copyfoot {
	position: relative;
}
.copyfoot h4 {
	font: 1.5em 'Assistant';
	color:var(--cBeige1);
	text-align: center;
	margin-left: 1vw;
}
/*ABOUT PAGE*/
.a_content {
	text-align: left;
	color: var(--cBeige3);
	position: relative;
	width: 100%;
	height:100%;
	/*height: 160vh;/*overflow:hidden;*/
	top: 0%;
}

.a_grid {
	margin-top: 2%;
	position:relative;
	display: flex;
	flex-direction: column;

	background-color: var(--cBrown3);
	padding: 0;
	width: 100%;
	align-content:flex-start;
	justify-content: flex-start;
	
}
.a_mainbody {
	width:100%;
	
}
.a_mainbody p {
	max-width: 75ch;
	font-size: .5em;
	margin-left: auto;
    margin-right: auto;
}
/*.a_quals {
	grid-area: right;
	display: flex;

	flex-direction: column;
	justify-content: space-between;
	align-items: top;
	position: relative;
	padding: 4%;
	flex: 1 1 auto;
}
.a_qual {
	position: relative;
}
.a_qual img {
	width: 100%;
	padding: 0;
	margin: 0;
	margin-bottom: -1vmin;
}
.a_qual h3 {
	position: absolute;
	top: -.9vmin;
	left: 30%;
	height: 10%;
}
.a_qual ul {
	padding: 0;
	margin: 0;
	background-color: var(--cBlack);
	width: 85.8%;
	padding-bottom: 2vmin;
	padding-top: .75vmin;
}
.a_qual li {
	margin-left: 15%;
}*/
.a_resume {
	padding: 4%;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
}
.a_resume button {
	position: relative;
	width: min-content;
	background-color:var(--cBeige2);
	color:var(--cBrown2);
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: none;
	display:block;
}
.a_resume button:hover {
	background-color:var(--cWhite);
	color:var(--cBrown3);
}
.a_contact_head {
	display: block;
}
.a_contact_head img {
	width: 100%;
	position: relative;
	top:0%;
	/*top: -4.8vmin;*/
}
.a_contact {
	grid-area: foot1;
	display: block;
	top: 0%;
}

/*Texts in About*/
.a_content h1 {
	font: 4em 'Poiret One';
	color: var(--cBeige2);
	position: relative;
	text-align: left;
	vertical-align: baseline;
	padding: 4%;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.a_content h2 {
	font: 5vmin 'Poiret One';
	color: var(--cBlack);
}
.a_resume h2 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	width: inherit;
	height: inherit;
}
.a_content h3 {
	text-align: left;
	font: 2.15em 'Poiret One';
	color: var(--cBeige2);
}
.a_content h4 {
	font: 2em 'Assistant Bold';
	color: var(--cBeige2);
	padding: 4%;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.a_content p {
	text-align: left;
	vertical-align: top;
	text-indent: 5%;
	font: 2em 'Assistant';
	color: var(--cBeige2);
	padding: 4%;
	padding-top: 0;
}
.a_content li {
	font: 1.5em 'Assistant';
	color: var(--cBeige2);
}
.a_resume button:hover {
	background-color: var(--cBeige2);
	color: var(--cBrown3);
}
.a_resume button:clicked {
	background-color: var(--cBrown2);
	color: var(--cBeige3);
}
/*HOME (UNUSED)*/
.home-content {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: flex-start;
	background-color: var(--cBrown2);
	padding: 0;
	width: 77.25vw;
}
.home-header {
	font: 4rem 'Poiret One';
	color: var(--cBeige2);
	position: relative;
	text-align: left;
	vertical-align: baseline;
	padding: 4%;
}
.home-header p {
	text-align: left;
	font: 1rem 'Assistant';
	color: var(--cBeige2);
}
.home-header img {
	max-width: 30vw;
}
.h-marquee {
	overflow: hidden;
	position: relative;
	column-gap: 0;
	column-count: 2;
}
.h-img {
	break-inside: auto;
	padding: .5vmin;
}
.h-img-i {
	padding: .1vmin;
	border-radius: .05vmin;
}
.h-marquee {
	position: relative;
	line-height: 50px;
	text-align: center;
 	/* Starting position */
	-moz-transform:translateY(100%);
	-webkit-transform:translateY(100%);
	transform:translateY(100%);
 	/* Apply animation to this element */
	-moz-animation: scroll-up 15s linear infinite;
	-webkit-animation: scroll-up 15s linear infinite;
	animation: scroll-up 15s linear infinite;
}
.h-marquee:hover {
	animation-play-state: paused;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-up {
	0%   { -moz-transform: translateY(-100%); }
	100% { -moz-transform: translateY(-100%); }
}
@-webkit-keyframes scroll-up {
	0%   { -webkit-transform: translateY(100%); }
	100% { -webkit-transform: translateY(-100%); }
}
@keyframes scroll-up {
	0% {
 		-moz-transform: translateY(100%); /* Browser bug fix */
 		-webkit-transform: translateY(100%); /* Browser bug fix */
		transform: translateY(100%);
	}
	100% {
 		-moz-transform: translateY(-100%); /* Browser bug fix */
 		-webkit-transform: translateY(-100%); /* Browser bug fix */
		transform: translateY(-100%);
	}
}
.h-img, .h-img-i {
	max-width: 300px;
	width:auto;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.h-img-i:hover,.h-img:hover {
	width: 400px;
	max-width:400px;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}
/*MainPage*/
.main-page-iFrame, .main-page-iFrame-disabled-left, .main-page-iFrame-disabled-right {
	display: inline;
	border: none;
	overflow: hidden;
	width: 1px;
	min-width: 100%;
	height: 100%;
	padding: 0 0;
	margin: 0%;
	position: absolute;
	transition: all 2s ease-in-out;
  	-webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
  	-moz-transition: all 2s ease-in-out; /** Firefox **/
  	-o-transition: all 2s ease-in-out; /** Opera **/
}
.main-page-iFrame-disabled-left-instant,.main-page-iFrame-disabled-right-instant {
	display: inline;
	border: none;
	overflow: hidden;
	width: 1px;
	min-width: 100%;
	height: 100%;
	padding: 0 0;
	margin: 0%;
	position: absolute;
	transition: all 0s;
	-webkit-transition: all 0s; /** Chrome & Safari **/
	-moz-transition: all 0s; /** Firefox **/
	-o-transition: all 0s; /** Opera **/
}
.main-page-iFrame {
	transform: translate(0vw,0);
	-webkit-transform: translate(0vw,0);
	-o-transform: translate(0vw,0);
	-moz-transform: translate(0vw,0);
}
.main-page-iFrame-disabled-left,.main-page-iFrame-disabled-left-instant {
	transform: translate(-100vw,0);
	-webkit-transform: translate(-100vw,0);
	-o-transform: translate(-100vw,0);
	-moz-transform: translate(-100vw,0);
}
.main-page-iFrame-disabled-right,.main-page-iFrame-disabled-right-instant
{
	transform: translate(100vw,0);
	-webkit-transform: translate(100vw,0);
	-o-transform: translate(100vw,0);
	-moz-transform: translate(100vw,0);
}
.scroller-status {
	display:block;
	position: relative;
	font: 3.6px 'Poiret One';
	text-align: center;
	color:var(--cBeige3);
	width: 100%;
	height: 200px;
}
